@{
	var inputName = (string)ViewBag.InputName;
	var allItems = (IEnumerable<CC98UserClaim>)ViewBag.AllItems;
	var selectedItems = (IEnumerable<string>)ViewBag.SelectedItems ?? Enumerable.Empty<string>();
}

@foreach (var item in allItems)
{
	<div class="form-check">
		<label class="form-check-label">
			<input type="checkbox" name="@inputName" value="@item.Id" class="form-check-input" checked="@selectedItems.Contains(item.Id)" /> <span>@item.DisplayName</span> <span class="badge badge-secondary">@item.Id</span>
		</label>
		<small class="form-text text-muted">@item.Description</small>
	</div>
}


