@using Sakura.AspNetCore.Localization
@model App
@inject IDynamicViewLocalizer ViewLocalizer

@{
	var isEditMode = (bool)ViewBag.IsEditMode;
	var isTrusted = Model?.State == AppState.Trusted;
}

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">基本信息</div>
			<div class="card-body">
				@if (isEditMode)
				{
					<div class="form-group">
						<label asp-for="Id" class="form-control-label"></label>
						<p class="form-text text-muted">@Model?.Id.ToString("D")</p>
						<small class="form-text text-muted">@ViewLocalizer.Html.IdHelpText</small>
					</div>

					<div class="form-group">
						<label asp-for="Secret" class="form-control-label"></label>
						<p class="form-text text-muted">@Model?.Secret.ToString("D")</p>
						<small class="form-text text-muted">@ViewLocalizer.Html.SecretHelpText</small>
					</div>
				}
				else
				{
					<p class="form-text text-info">在创建应用后，系统将为你自动生成应用标识和应用的机密。</p>
				}

				<hr />

				<div class="form-group">
					<label asp-for="DisplayName" class="form-control-label"></label>
					<input type="text" asp-for="DisplayName" class="form-control" />
					<span asp-validation-for="DisplayName" class="text-danger"></span>
					<small class="form-text text-muted">@ViewLocalizer.Html.DisplayNameHelpText</small>
				</div>

				<div class="form-group">
					<label asp-for="Description" class="form-control-label"></label>
					<textarea asp-for="Description" rows="4" class="form-control"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
					<small class="form-text text-muted">@ViewLocalizer.Html.DescriptionHelpText</small>
				</div>

				<div class="form-group">
					<label asp-for="LogoUri" class="form-control-label"></label>
					<input type="url" asp-for="LogoUri" class="form-control" />
					<span asp-validation-for="LogoUri" class="text-danger"></span>
					<small class="form-text text-muted">@ViewLocalizer.Html.LogoUriHelpText</small>
				</div>

				<div class="form-group">
					<label asp-for="WebPageUri" class="form-control-label"></label>
					<input type="url" asp-for="WebPageUri" class="form-control" />
					<span asp-validation-for="WebPageUri" class="text-danger"></span>
					<small class="form-text text-muted">@ViewLocalizer.Html.WebPageUriHelpText</small>
				</div>

				<hr />

				<div class="form-group">
					<label asp-for="RedirectUris" class="form-control-label"></label>
					<textarea rows="3" asp-multiline-for="RedirectUris" class="form-control"></textarea>
					<span asp-validation-for="RedirectUris" class="text-danger"></span>
					<small class="form-text text-muted">@ViewLocalizer.Html.RedirectUrisHelpText</small>
				</div>

				<div class="form-group">
					<label asp-for="AllowedCorsOrigins" class="form-control-label"></label>
					<textarea rows="3" asp-multiline-for="AllowedCorsOrigins" class="form-control"></textarea>
					<span asp-validation-for="AllowedCorsOrigins" class="text-danger"></span>
					<small class="form-text text-muted">@ViewLocalizer.Html.AllowedCorsOriginsHelpText</small>
				</div>

			</div>
		</div>


				@if (isEditMode)
				{
					// 编辑模式下才能修改所有者

					<hr />

					<div class="form-group">
						<label asp-for="OwnerUserName" class="form-control-label"></label>
						<input asp-for="OwnerUserName" class="form-control" />
						<span asp-validation-for="OwnerUserName" class="text-danger"></span>
						<small class="form-text text-muted">@ViewLocalizer.Html.OwnerUserNameHelpText</small>
					</div>
				}

			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">授权类型</div>
			<div class="card-body">
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" asp-enum-flag-for="GrantTypes" asp-enum-flag-value="@AppGrantTypes.AuthorizationCode" />
						<span>授权码验证</span>
					</label>
					<small class="form-text text-muted">允许应用程序使用授权码验证。授权码验证通常用于具有独立后台的场景，如网站和 Web 应用程序。此方案实现过程较为复杂，但安全性较高，可防止第三方引用伪造应用身份。</small>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" asp-enum-flag-for="GrantTypes" asp-enum-flag-value="@AppGrantTypes.Implicit" />
						<span>隐式授权验证</span>
					</label>
					<small class="form-text text-muted">允许应用程序使用隐式授权验证。此方案实现过程较为简单，但安全性较弱，通常用于无法保证应用代码安全性（如终端设备）或有其他第三方机制保证访问安全性（如受限制的局域网）的场合。</small>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" asp-enum-flag-for="GrantTypes" asp-enum-flag-value="@AppGrantTypes.Hybrid" />
						<span>混合授权验证</span>
					</label>
					<small class="form-text text-muted">允许应用程序使用混合授权验证。混合授权验证将同时提供令牌和授权码，可用于前端、后端混合部署场景，应用可在前端立即获得访问令牌，同时可通过单独部署的后端服务器接受刷新令牌，以便于降低对用户的令牌申请频率。</small>
				</div>
				<hr />
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" asp-enum-flag-for="GrantTypes" asp-enum-flag-value="@AppGrantTypes.ClientCredentials" />
						<span>客户端凭据验证</span>
					</label>
					<small class="form-text text-muted">允许应用程序使用客户端凭据验证。客户端凭据授权无需用户交互，通常用于向服务器读写和应用自身相关的数据。</small>
				</div>
				<hr />
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" asp-enum-flag-for="GrantTypes" asp-enum-flag-value="@AppGrantTypes.ResourceOwnerPassword" disabled="@(!isTrusted)" />
						<span>密码验证</span>
					</label>
					<small class="form-text text-muted">允许应用程序通过其它途径（如应用内输入界面）获得的用户名和密码进行验证。启用此方式则应用能够通过模拟用户登录过程而实现长期自动认证。只有受信任的应用才能使用这种方式。</small>
					@if (!isTrusted)
					{
						<small class="form-text text-warning">这个应用不能使用这种授权方式。如果你是应用的作者并希望使用这种授权，请联系 CC98 管理团队。</small>
					}
					</div>
			</div>

		</div>

		<div class="card mt-3">
			<div class="card-header">授权领域</div>
			<div class="card-body">
				<p class="card-text text-muted">设置该应用允许使用的授权领域。如果应用向用户请求授权时请求的领域超过了此处的授权范围，则授权过程将会立刻终止。</p>
				<hr />
				<vc:scope-selector input-name="@nameof(Model.AllowedScopes)" selected-items="@Model?.AllowedScopes" />

			</div>
		</div>
	</div>
</div>


