@model IEnumerable<App>
@{
	var showOwner = (bool?)ViewBag.ShowOwner ?? false;
}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>名称</th>
			@if (showOwner)
			{
				<th>所有者</th>
			}
			<th>状态</th>
			<th>创建日期</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model)
			{
			<tr data-id="@i.Id" data-name="@i.DisplayName">
				<th><a asp-controller="App" asp-action="Detail" asp-route-id="@i.Id">@i.DisplayName</a></th>
				@if (showOwner)
				{
					<th>
						@if (i.OwnerUserName == null)
						{
							<span class="text-muted">系统</span>
						}
						else
						{
							<span>@i.OwnerUserName</span>
						}
					</th>
				}
				<td>
					@switch (i.State)
					{
						case AppState.Normal:
							<strong class="text-success">已审核</strong>
							break;
						case AppState.TestOnly:
							<strong class="text-warning">未审核</strong>
							break;
						case AppState.Trusted:
							<strong class="text-primary">受信任</strong>
							break;
						case AppState.Revoked:
							<strong class="text-danger">已吊销</strong>
							break;
						default:
							<strong class="text-muted">未知</strong>
							break;
					}
				</td>
				<td>@i.CreateTime.ToString("G", CultureInfo.CurrentUICulture)</td>
				<td>
					<div class="btn-group btn-group-sm">
						<a asp-controller="App" asp-action="Edit" asp-route-id="@i.Id" class="btn btn-secondary">编辑</a>
						<button type="button" class="btn btn-danger" onclick="deleteApp(this);">删除</button>
					</div>
				</td>
			</tr>
			}
	</tbody>
</table>

