@using Microsoft.Extensions.Hosting
@using Sakura.AspNetCore.Localization
@inject IDynamicViewLocalizer ViewLocalizer
@inject IDynamicHtmlLocalizer<Startup> Startup
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="renderer" content="webkit" />
	<title>@ViewLocalizer.Html.PageTitleFormat(ViewBag.PageTitle, ViewLocalizer.Html.SiteTitle)</title>
	<link rel="icon" type="image/x-icon" href="~/logo.ico" sizes="16x16 32x32 48x48 64x64 128x128 256x256" />

	<environment include="@Environments.Development">
		<link rel="stylesheet" href="~/lib/font-aswsome/css/all.css" />
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment exclude="@Environments.Development">
		
		<link rel="stylesheet" 
		      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
		      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
		      crossorigin="anonymous"
			  asp-fallback-href="~/lib/font-aswsome/css/all.min.css"
			  asp-fallback-test-class="fa"
			  asp-fallback-test-property="display"
			  asp-fallback-test-value="inline-block" />
		
		<link rel="stylesheet" 
		      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" 
		      integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" 
		      crossorigin="anonymous"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position"
			  asp-fallback-test-value="absolute" />


		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

	</environment>
	@await RenderSectionAsync("Head", false)
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container">

			<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@ViewLocalizer.Html.SiteTitle</a>

			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-control="main-navbar" aria-label="@ViewLocalizer.Html.ToggleNavigationButtonText">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="main-navbar">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item">
						<a class="nav-link" asp-controller="Account" asp-action="Register">@ViewLocalizer.Html.RegisterLinkText</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Account" asp-action="Activate">@ViewLocalizer.Html.ActivateLinkText</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Account" asp-action="My">@ViewLocalizer.Html.MyAccountLinkText</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Account" asp-action="ResetPassword">@ViewLocalizer.Html.ResetPasswordLinkText</a>
					</li>

					<li class="nav-item dropdown" asp-authorize-policy="@Policies.QueryAccount">
						<a class="nav-link dropdown-toggle" href="#" id="manage-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">管理</a>
						<div class="dropdown-menu" aria-labelledby="manage-dropdown">
							<a class="dropdown-item" asp-controller="Manage" asp-action="QueryAccount" asp-authorize-policy="@Policies.QueryAccount">查询账号</a>
							<a class="dropdown-item" asp-controller="Manage" asp-action="QueryId" asp-authorize-policy="@Policies.QueryId">查询学号</a>
							<authorize policy="@Policies.Admin">
								<hr />
								<a class="dropdown-item" asp-controller="Manage" asp-action="Account">高级账号管理</a>
							</authorize>
						</div>
					</li>

				</ul>
				@await Html.PartialAsync("_LogOnPartial")
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="text-center">&copy; 2017 - @ViewLocalizer.Html.SiteTitle</p>
		</footer>
	</div>

	<environment names="Development">
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/popper.js/umd/popper.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" 
		        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
		        crossorigin="anonymous"
				asp-fallback-src="~/lib/jquery/jquery.min.js"
				asp-fallback-test="window.jQuery"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js" 
		        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8="
		        crossorigin="anonymous"
				asp-fallback-src="~/lib/popper.js/umd/popper.min.js"
				asp-fallback-test="window.Popper"></script>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" 
		        integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" 
		        crossorigin="anonymous"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>

		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@await RenderSectionAsync("Scripts", false)

</body>
</html>