@using Sakura.AspNetCore.Localization
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@inject IDynamicViewLocalizer ViewLocalizer
@inject IDynamicHtmlLocalizer<Startup> Startup
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewLocalizer.Html.PageTitleFormat(ViewBag.PageTitle, ViewLocalizer.Html.SiteTitle)</title>

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="~/css/site.css" />
	</environment>
	<environment names="Staging,Production">

		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
			  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
			  crossorigin="anonymous"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only"
			  asp-fallback-test-property="position"
			  asp-fallback-test-value="absolute" />

		<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
			  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
			  crossorigin="anonymous"
			  asp-fallback-href="~/lib/font-awesome/css/font-awesome.min.css"
			  asp-fallback-test-class="fa"
			  asp-fallback-test-property="display"
			  asp-fallback-test-value="inline-block" />

		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

	</environment>
	@Html.Raw(JavaScriptSnippet.FullScript)
	@await RenderSectionAsync("Head", false)
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<div class="container">

			<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">@ViewLocalizer.Html.SiteTitle</a>

			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false" aria-control="main-navbar" aria-label="@ViewLocalizer.Html.ToggleNavigationButtonText">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="main-navbar">
				<ul class="navbar-nav mr-auto">

					<li class="nav-item dropdown">
						<a id="register-menu" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账号</a>
						<div class="dropdown-menu" aria-labelledby="register-menu">
							<a class="dropdown-item" asp-controller="Account" asp-action="Register">注册 CC98 账号</a>
							<a class="dropdown-item" asp-controller="Account" asp-action="My">我的 CC98 账号</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a id="app-menu" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">应用</a>
						<div class="dropdown-menu" aria-labelledby="app-menu">
							<a class="dropdown-item" asp-controller="App" asp-action="My">我的应用</a>
							<a class="dropdown-item" asp-controller="App" asp-action="Create">创建应用</a>

							<authorize policy="@Policies.OperateApps">
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" asp-controller="App" asp-action="Manage">管理应用</a>
							</authorize>

						</div>
					</li>
					<li class="nav-item dropdown">
						<a id="help-menu" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">帮助</a>
						<div class="dropdown-menu" aria-labelledby="help-menu">
							<a class="dropdown-item" asp-controller="Scope" asp-action="Index">领域表</a>
							<a class="dropdown-item" asp-controller="ApiResource" asp-action="Index">API 资源</a>
							<a class="dropdown-item" asp-controller="UserClaim" asp-action="Index">用户声明</a>
						</div>
					</li>
				</ul>
				@await Html.PartialAsync("_LogOnPartial")
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="text-center">&copy; 2017 - @ViewLocalizer.Html.SiteTitle</p>
		</footer>
	</div>

	<environment names="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/popper.js/dist/umd/popper.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/lib/i18next/i18next.js"></script>
		<script src="~/lib/i18next-xhr-backend/i18nextXHRBackend.js"></script>
		<script src="~/lib/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.js"></script>
		<script src="~/lib/pwstrength-bootstrap/dist/pwstrength-bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment names="Staging,Production">

		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"
				crossorigin="anonymous"></script>

		<script src="https://cdn.bootcss.com/popper.js/1.12.9/esm/popper.min.js"
				asp-fallback-src="~/lib/popper.js/dist/umd/popper.min.js"
				asp-fallback-test="window.Popper"
				integrity="sha384-7X8a6Cjin8U+DiYAV7pjFsRxvFo29iRu43KSip4dBj+GmeB0rROXTRIB8x99S8JG"
				crossorigin="anonymous"></script>

		<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
				crossorigin="anonymous"></script>

		<script src="https://cdn.bootcss.com/i18next/10.0.7/i18next.min.js"
				asp-fallback-src="~/lib/i18next/i18next.min.js"
				asp-fallback-test="window.i18next"
				integrity="sha384-oiTLKEsa+VU4D8F6Rtarq8SLM9UU3Z0nZHAmSTv3PO2D1RxOwus5XmIoYGYKaS7o"
				crossorigin="anonymous"></script>

		<script src="https://cdn.bootcss.com/i18next-xhr-backend/1.5.0/i18nextXHRBackend.min.js"
				asp-fallback-src="~/lib/i18next/i18next.min.js"
				asp-fallback-test="window.i18nextXHRBackend"
				integrity="sha384-eIzvLKdw99yjINvPvMYQiQFD9tYnU9PxIt4DH/P+2biGfs2OyHLgkGsjGIUIg/Ph"
				crossorigin="anonymous"></script>

		<script src="https://cdn.bootcss.com/i18next-browser-languagedetector/2.1.0/i18nextBrowserLanguageDetector.min.js"
				asp-fallback-src="~/lib/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"
				asp-fallback-test="window.i18nextBrowserLanguageDetector"
				integrity="sha384-fFh5R5gJH9jhvh2YwWCPP/HpdJFvK0yipuELbd6i/tHZ63YHw+RNPje+7PN7akB2"
				crossorigin="anonymous"></script>

		<script src="https://cdn.bootcss.com/pwstrength-bootstrap/2.1.1/pwstrength-bootstrap.min.js"
				asp-fallback-src="~/lib/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"
				integrity="sha384-SdQ8iFnS7oVtjXnj+nN4N/cWJ+DYxvHZN3ABzl+9my5UyoYPqal/DZ++N7ifgWrO"
				crossorigin="anonymous"></script>

		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	<script>
		i18next
			.use(i18nextBrowserLanguageDetector)
			.use(i18nextXHRBackend)
			.init({
				backend: {
					loadPath: '/lib/pwstrength-bootstrap/locales/{{lng}}.json'
				}
			});
	</script>

	@await RenderSectionAsync("Scripts", false)

</body>
</html>
