@using CC98.LogOn.ZjuInfoAuth
@using IdentityServer4
@using Microsoft.AspNetCore.Http.Extensions
@using Sakura.AspNetCore.Localization
@inject IDynamicViewLocalizer ViewLocalizer


<ul class="navbar-nav">
	@if (User.IsAuthenticatedWith(ZjuInfoOAuthDefaults.AuthenticationScheme))
	{
		<li class="nav-item dropdown">
			<a id="help-menu" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewLocalizer.Html.ZjuInfoAccountFormat(User.GetNameWith(ZjuInfoOAuthDefaults.AuthenticationScheme))</a>
			<div class="dropdown-menu" aria-labelledby="zju-info-log-on-menu">
				<a class="dropdown-item" asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">切换到 CC98 账号</a>
				<a class="dropdown-item" href="#" onclick="$('#log-off-form').submit();">注销</a>
			</div>
		</li>
	}
	else if (User.IsAuthenticatedWith(IdentityServerConstants.DefaultCookieAuthenticationScheme))
	{
		<li class="nav-item dropdown">
			<a id="help-menu" href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@ViewLocalizer.Html.CC98AccountFormat(User.GetNameWith(IdentityServerConstants.DefaultCookieAuthenticationScheme))</a>
			<div class="dropdown-menu" aria-labelledby="zju-info-log-on-menu">
				<a class="dropdown-item" asp-controller="ZjuInfo" asp-action="LogOn">切换到浙大通行证</a>
				<a class="dropdown-item" href="#" onclick="$('#log-off-form').submit();">注销</a>
			</div>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="ZjuInfo" asp-action="LogOn" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">@ViewLocalizer.Html.LogOnZjuInfoAccountLinkText</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Account" asp-action="LogOn" asp-route-returnUrl="@Context.Request.GetDisplayUrl()">@ViewLocalizer.Html.LogOnCC98AccountLinkText</a>
		</li>
	}
</ul>

<form id="log-off-form" asp-controller="Account" asp-action="LogOff" method="post" asp-antiforgery="true"></form>
