@{
	var scopes = (AppScope[])ViewBag.Scopes;

	var selectedItems = new HashSet<string>((IEnumerable<string>)ViewBag.SelectedItems, StringComparer.OrdinalIgnoreCase);
	var inputName = (string)ViewBag.InputName;
}

@if (scopes.Any())
{
	foreach (var item in scopes)
	{
		<div class="form-check">
			<label class="form-check-label">
				<input name="@inputName" value="@item.Id" type="checkbox" checked="@selectedItems.Contains(item.Id)" class="form-check-input" />
				<span>@item.DisplayName</span>
				<span class="badge badge-secondary">@item.Id</span>
				@switch (item.Type)
				{
					case ScopeType.Identity:
						<span class="badge badge-primary">标识</span>
						break;
					case ScopeType.Resource:
						<span class="badge badge-success">API</span>
						break;
				}
			</label>
			<small class="form-text text-muted">@item.Description</small>
		</div>
	}
}
else
{
	<p class="text-center text-muted">目前没有任何可用的领域</p>
}