@model IdentityServer4.Models.Resources

@foreach (var i in Model.IdentityResources)
{
	<div class="form-check">
		<label class="form-check-label">
			<input type="checkbox" name="@ViewBag.InputName" value="@i.Name" class="form-check-input" checked="checked" disabled="@i.Required" />
			@if (i.Emphasize)
			{
				<span class="text-warning"><i class="fa fa-warning">这个资源可能比较危险，请小心授权</i> @i.DisplayName</span>
			}
			else
			{
				<span>@i.DisplayName</span>
			}

			<span class="badge badge-primary">@i.Name</span>

		</label>
		@if (i.Emphasize)
		{
			<small class="text-warning"><i class="fa fa-warning"></i> 这个资源请小心授权</small>
		}
		<small class="form-text text-muted">@i.Description</small>
	</div>
}

@foreach (var i in Model.ApiResources.SelectMany(api => api.Scopes))
{
	<div class="form-check">
		<label class="form-check-label">
			<input type="checkbox" name="@ViewBag.InputName" value="@i.Name" class="form-check-input" checked="checked" disabled="@i.Required" />
			@if (i.Emphasize)
			{
				<span class="text-warning"><i class="fa fa-warning">这个资源可能比较危险，请小心授权</i> @i.DisplayName</span>
			}
			else
			{
				<span>@i.DisplayName</span>
			}
			<span class="badge badge-success">@i.Name</span>
		</label>
		@if (i.Emphasize)
		{
			<small class="text-warning"><i class="fa fa-warning"></i> 这个资源请小心授权</small>
		}
		<small class="form-text text-muted">@i.Description</small>
	</div>

}

