@using Sakura.AspNetCore.Localization

@inject IDynamicViewLocalizer ViewLocalizer

@model CC98.LogOn.ViewModels.Account.LogOnViewModel
@{
	ViewBag.Title = ViewLocalizer.Html.PageTitle;

	var timeList = new List<SelectListItem>
	{
		new SelectListItem {Text = ViewLocalizer.Text.TimeNotSaved, Value = string.Empty, Selected = true},
		new SelectListItem {Text = ViewLocalizer.Text.TimeOneHour, Value = TimeSpan.FromHours(1).ToString("g", CultureInfo.InvariantCulture)},
		new SelectListItem {Text = ViewLocalizer.Text.TimeOneDay, Value = TimeSpan.FromDays(1).ToString("g", CultureInfo.InvariantCulture)},
		new SelectListItem {Text = ViewLocalizer.Text.TimeOneWeek, Value = TimeSpan.FromDays(7).ToString("g", CultureInfo.InvariantCulture)},
		new SelectListItem {Text = ViewLocalizer.Text.TimeOneMonth, Value = TimeSpan.FromDays(30).ToString("g", CultureInfo.InvariantCulture)},
		new SelectListItem {Text = ViewLocalizer.Text.TimeOneYear, Value = TimeSpan.FromDays(365).ToString("g", CultureInfo.InvariantCulture)}
	};
}

<div class="alert alert-info">注意：这个页面只用于登录 CC98 账号并执行应用管理和授权操作。如果你是希望注册、激活，或者管理你的 CC98 账号，请<a class="alert-link" asp-controller="ZjuInfo" asp-action="LogOn" asp-route-returnUrl="@ViewBag.ReturnUrl">登录浙大通行证</a>。</div>

<div class="row justify-content-center">
	<div class="col-6">
		<form asp-controller="Account" asp-action="LogOn" method="post" asp-antiforgery="true" asp-route-returnUrl="@ViewBag.ReturnUrl">
			<div class="form-group">
				<label asp-for="UserName" class="form-control-label"></label>
				<input type="text" asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName" class="text-danger"></span>
				<small class="form-text text-muted">@ViewLocalizer.Html.UserNameHelp</small>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="form-control-label"></label>
				<input type="password" asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
				<small class="form-text text-muted">@ViewLocalizer.Html.PasswordHelp</small>
			</div>

			<div class="form-group">
				<label asp-for="ValidTime" class="form-control-label"></label>
				<select asp-for="ValidTime" asp-items="@timeList" class="form-control"></select>
				<span asp-validation-for="ValidTime" class="text-danger"></span>
				<small class="form-text text-muted">@ViewLocalizer.Html.ValidTimeHelp</small>
			</div>

			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<button type="submit" class="btn btn-primary">@ViewLocalizer.Html.LogOnButtonText</button>
			<button type="reset" class="btn btn-secondary">@ViewLocalizer.Html.ResetButtonText</button>
		</form>

	</div>
</div>

